{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="#">
        <img src="{% static 'image/bg.png' %}" alt="" height="50" width="50">
      </a>
      
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav"  style="margin-right:150px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
{% endblock content %}